<div class="container">
    {{!-- <div class="container bg-gray-100 dark:bg-gray-900 dark:text-white text-gray-600 h-screen flex overflow-hidden text-sm"> --}}
        <div class="flex-grow bg-white dark:bg-gray-900 overflow-y-auto bg-transparent">
        <div class="sm:px-7 sm:pt-7 px-4 py-4 flex flex-col w-full bg-transparent dark:bg-gray-900 dark:text-white dark:border-gray-800 sticky top-0">
          <div class="flex w-full items-center">
            <div class="flex items-center text-3xl text-gray-900 dark:text-white">
              {{!-- <img src="https://assets.codepen.io/344846/internal/avatars/users/default.png?fit=crop&format=auto&height=512&version=1582611188&width=512" class="w-12 mr-4 rounded-full" alt="profile" /> --}}
              {{user.name}} 
            </div>
            <div class="ml-auto sm:flex hidden items-center justify-end">
              <div class="text-right">
                <div class="text-xs text-gray-400 dark:text-gray-400">Account Type:</div>
                <div class="text-gray-900 text-lg dark:text-white">{{user.isAdmin}}</div>
              </div>              
              {{#checkAdmin user.isAdmin}}
              <button type="submit" name="create-act" onclick="javascript:location.href='/activity/add'" class="btn btn-primary ml-4"><i class="fas fa-plus"></i></button>
              {{/checkAdmin}}
            </div>
          </div>
        </div>


        <div class="sm:p-7 p-4">
          <table class="w-full text-left">
            <thead>
              <tr class="text-gray-400 text-left">
                <th class="font-normal pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">Type</th>
                <th class="font-normal pt-0 pb-3 border-b border-gray-200 dark:border-gray-800 hidden md:table-cell">Description</th>
                <th class="font-normal pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">Location</th>
                <th class="font-normal pt-0 pb-3 border-b border-gray-200 dark:border-gray-800 sm:text-gray-400">Date</th>
                <th class="font-normal pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">Action</th>                
              </tr>
            </thead>
            <tbody class="text-gray-600 dark:text-gray-100">
                           
              {{#each adminActivities}}
              <tr>
                <td class="sm:p-3 py-2 px-0 border-b border-gray-200 dark:border-gray-800">
                  <div class="flex items-center">
                    <h1>{{name}}</h1>
                  </div>
                </td>
                <td class="sm:p-3 py-2 px-0 border-b border-gray-200 dark:border-gray-800 md:table-cell hidden">{{truncate description 50}}</td>
                <td class="sm:p-3 py-2 px-0 border-b border-gray-200 dark:border-gray-800">
                  <div class="flex items-center">
                    {{location}}
                  </div>
                </td>
                
                <td class="sm:p-3 py-2 px-0 border-b border-gray-200 dark:border-gray-800">
                  <div class="flex items-center">
                    <div class="sm:flex hidden flex-col">
                      {{customDate activityDate}}
                    </div>
                  </div>
                </td>

                <td class="sm:p-3 py-2 px-0 border-b border-gray-200 dark:border-gray-800 text-red-500">                  
                  
                    <form class="d-inline-block" action="/activity/{{_id}}" method="POST" id="delete-form">
                      <input type="hidden" name="_method" value="DELETE">
                      <button type="submit" href="#" class="btn btn-outline-danger my-1 mr-1"><i class="fas fa-trash"></i> Delete</button>
                    </form>
                    <form class="d-inline-block" action="/activity/edit/{{_id}}" method="GET" id="delete-form">
                      <input type="hidden" name="_method" value="UPDATE">
                      <button type="submit" href="#" class="btn btn-outline-warning my-1 mr-1"><i class="fas fa-pen"></i> Update</button>
                    </form>
                  
                </td>                
              </tr>
              {{/each}}
              

              {{#if user}}
              
              {{#each user.userActivities}}
              <tr>
                <td class="sm:p-3 py-2 px-0 border-b border-gray-200 dark:border-gray-800">
                  <div class="flex items-center">
                    <h1>{{name}}</h1>
                  </div>
                </td>
                <td class="sm:p-3 py-2 px-0 border-b border-gray-200 dark:border-gray-800 md:table-cell hidden">{{truncate description 50}}</td>
                <td class="sm:p-3 py-2 px-0 border-b border-gray-200 dark:border-gray-800">
                  <div class="flex items-center">
                    {{location}}
                  </div>
                </td>
                
                <td class="sm:p-3 py-2 px-0 border-b border-gray-200 dark:border-gray-800">
                  <div class="flex items-center">
                    <div class="sm:flex hidden flex-col">
                      {{customDate activityDate}}
                    </div>
                  </div>
                </td>

                <td class="sm:p-3 py-2 px-0 border-b border-gray-200 dark:border-gray-800 text-red-500">                  
                  
                  
                    <form class="d-inline-block" action="/activity/unenroll/{{_id}}" method="POST">
                      <input type="hidden" name="_method" value="DELETE">
                      <button type="submit" href="#" class="btn btn-outline-danger my-1 mr-1"><i class="fas fa-trash"></i></button>
                    </form>
                  
                </td>                
              </tr>
              {{/each}}
             
              {{/if}}              
            </tbody>
          </table><br><br>
        </div>
      </div>
    </div>
  </div>
</div>

