
    <div class="{{#if islogin}}container{{else}}container sign-up-mode{{/if}}">
      <div class="forms-container">
        <div class="signin-signup">
          
          <form action="/auth/login" method="post" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              {{!-- <input type="text" placeholder="Username" /> --}}
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
              />
            </div>

            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Enter Password"
              />
            </div>
            <input type="submit" value="Login" class="btn solid" />          

          </form>
          
          <form action="/auth/register" method="post" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input
                type="name"
                id="name"
                name="name"
                class="form-control"
                placeholder="Enter Name"
                value="{{validateValues name}}"
              />
            </div>

            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
                value="{{validateValues email}}"
              />
            </div>

            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Create Password"
                value="{{validateValues password}}"
              />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                id="password2"
                name="password2"
                class="form-control"
                placeholder="Confirm Password"
                value="{{validateValues password2}}"
              />
            </div>

            <div class="input-field">
              <i class="fas fa-lock"></i>
              <select class="form-select" id="isAdmin" name="isAdmin">
                <option value="Volunteer" selected>Volunteer</option>
                <option value="NGO">NGO</option>
              </select>
            </div>

            <input type="submit" value="Sign up" class="btn" />

          </form>
          
        </div>
      </div>



      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here?</h3>
            <p>
                Join our community and contribute to the Social Cause.
            </p>
            <button class="btn transparent" id="sign-up-btn">Sign up</button>
            <a href="/"><button class="btn transparent" href="/">Back to home</button></a>
          </div>
          {{!-- <img src="assets/images/register.svg" class="image" alt="Sign-Up" /> --}}
        </div>

        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
                Login to contribute more.
            </p>
            <button class="btn transparent" id="sign-in-btn">Sign in</button>
            <a href="/"><button class="btn transparent" href="/">Back to home</button></a>
          </div>
          {{!-- <img src="assets/images/log.svg" class="image" alt="Login" /> --}}
        </div>
      </div>
    </div>
