<h1>Activity Details</h1>
<p>{{activity.name}}</p>
<p>{{activity.description}}</p>
{{!-- <p>{{activity.authorID}}</p> --}}
<p>{{customDate activity.activityDate}}</p>
<p>{{activity.location}}</p>

<h1>Author Details</h1>
<p>{{activity._id}}</p>
<p>{{activityAuthor.name}}</p>
<p>{{activityAuthor.isAdmin}}</p>
<p>{{activityAuthor.email}}</p>