<div class="container">
    <h3 class="display-4 mb-3">{{activity.name}}</h3>
    <div class="card mb-3">
        <div class="card-header">
            Activity Details
        </div>
        <div class="card-body">
            <div class="card-text"><strong>Scheduled At:</strong> {{customDate activity.activityDate}}</div>
            <div class="card-text"><strong>Location: </strong>{{activity.location}}</div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Activity Description
        </div>
        <div class="card-body">
            {{activity.description}}
        </div>
    </div>

    <div class="card author-card mb-3">
        <div class="card-header">
            About the Author
        </div>
        <div class="card-body">
            <div class="card-text"><strong>Author Name:</strong> {{activity.authorID.name}}</div>
            <div class="card-text"><strong>Author Email:</strong> {{activity.authorID.email}}</div>
            <a href="/activity/user/{{activity.authorID._id}}" class="btn btn-primary mt-3">More From {{activity.authorID.name}}</a> 
        </div>
    </div>
</div>