{{!-- <h1 class="display-4 mb-1">Public Stories</h1>
{{#if stories}}
<div class="row mb-5">
    {{#each stories}}
    <div class="col-lg-4 col-md-6 col-sm-12 my-2">
        <div class="card border-0">
            <div class="card-body">
                <h3 class="card-title">{{title}}</h3>
                <p class="card-text">{{stripTags (truncate body 100)}}</p>
                <a class="profile-badge d-flex" href="/stories/user/{{user._id}}">
                    <img class="profile-image" src="{{user.image}}">
                    {{user.displayName}}
                </a>
                <a href="/stories/{{_id}}" class="btn btn-primary"><i class="fas fa-book-reader"></i> Read more</a>
                {{{editIcon user ../user _id}}}               
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>No public stories available. Try adding some!</p>
<a href="/stories/add" class="d-lg-inline-block d-flex gap-2 align-items-center justify-content-center btn btn-lg btn-primary"><i class="fas fa-plus"></i> Share Something</a>
{{/if}} --}}
